@CHARSET "UTF-8";

html {
	margin: 0px;
	height: 100%;
	width: 100%;
}

body {
	margin: 0px;
	min-height: 100%;
	width: 100%;
	background-image:url('../images/cs.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}

#index {
	position: absolute; 
	width: 100%; 
	height: 100%; 
}

#navbar {
	font-family: sans-serif;
	background-color: transparent;
}

#home {
	color: #C8DEC1;
}

#contacts {
	color: #C8DEC1;
}
