    <div ng-controller="agentController">
	<div class="agentDiv">
		<h3 id="agentTypes">Agent types</h3>
		<span id="hideTypes" class="hvr-icon-spin" ng-show="agentCollections.agentTypes.length > 0" ng-click="hideTypes()">{{typesText}}</span>
		<hr>
		<div class="row slide-toggle-js" ng-repeat="type in agentCollections.agentTypes" ng-if="$index % 4 == 0 && showTypes">
			  <div class="col-sm-3 hvr-grow" ng-if="($index < agentCollections.agentTypes.length)">
				<div class="thumbnail">
			  		<div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index].module }}</span>
                        <hr>
			  		</div>
			  		<li ng-if="show" class="list-group-item" style="margin-top:1%;">
			  			<div>
			  				<input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index].module, agentCollections.agentTypes[$index].name)">Start</button>
			  			</div>
			  		</li>
				</div>
			  </div>
			   <div class="col-sm-3 hvr-grow" ng-if="($index + 1 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 1].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 1].module }}</span>
                        <hr>
                    </div>
                    <li ng-if="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index+1].module, agentCollections.agentTypes[$index+1].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
               <div class="col-sm-3 hvr-grow" ng-if="($index + 2 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" data-toggle="popover" data-content="I am popover">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 2].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 2].module }}</span>
                        <hr>
                    </div>
                    <li ng-show="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index + 2].module, agentCollections.agentTypes[$index + 2].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
               <div class="col-sm-3 hvr-grow" ng-if="($index + 3 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 3].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 3].module }}</span>
                        <hr>
                    </div>
                    <li ng-if="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index+3].module, agentCollections.agentTypes[$index+3].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
		  </div>
	</div>
	
	<hr ng-if="agentCollections.agentTypes.length > 0 && showTypes">
	
	<div class="agentDiv">
		<h3 id="agentActive">Active agents</h3>
		<hr>
		<div class="row slide-toggle-js" ng-repeat="aid in agentCollections.runningAgents" ng-if="$index % 4 == 0">
		  <div class="col-sm-3 hvr-grow" ng-if="($index < agentCollections.runningAgents.length)">
		    <div class="thumbnail">
				<div class="caption" ng-click="turn = !turn">
					<h3>Agent name: </h3>
					<label>{{ agentCollections.runningAgents[$index].name }}</label>
					<hr>
					<h4>Agent type: </h4>
					<span>{{ agentCollections.runningAgents[$index].type.name }}</span>
					<hr>
					<h4>Agent center:</h4>
					<span>{{ agentCollections.runningAgents[$index].host.alias }}</span>
				</div>
			</div>
			<li ng-if="turn" class="list-group-item" style="margin-top: 1%;">
				<div>
					<button class="btn btn-sm btn-danger" ng-click="stopAgent(aid)">Stop</button>
				</div>
			</li>
		  </div>
		  <div class="col-sm-3 hvr-grow" ng-if="($index + 1 < agentCollections.runningAgents.length)">
            <div class="thumbnail">
                <div class="caption" ng-click="turn = !turn">
                    <h3>Agent name: </h3>
                    <label>{{ agentCollections.runningAgents[$index + 1].name }}</label>
                    <hr>
                    <h4>Agent type: </h4>
                    <span>{{ agentCollections.runningAgents[$index + 1].type.name }}</span>
                    <hr>
                    <h4>Agent center:</h4>
                    <span>{{ agentCollections.runningAgents[$index + 1].host.alias }}</span>
                </div>
            </div>
            <li ng-if="turn" class="list-group-item" style="margin-top: 1%;">
                <div>
                    <button class="btn btn-sm btn-danger" ng-click="stopAgent(aid)">Stop</button>
                </div>
            </li>
          </div>
          <div class="col-sm-3 hvr-grow" ng-if="($index + 2 < agentCollections.runningAgents.length)">
            <div class="thumbnail">
                <div class="caption" ng-click="turn = !turn">
                    <h3>Agent name: </h3>
                    <label>{{ agentCollections.runningAgents[$index + 2].name }}</label>
                    <hr>
                    <h4>Agent type: </h4>
                    <span>{{ agentCollections.runningAgents[$index + 2].type.name }}</span>
                    <hr>
                    <h4>Agent center:</h4>
                    <span>{{ agentCollections.runningAgents[$index + 2].host.alias }}</span>
                </div>
            </div>
            <li ng-if="turn" class="list-group-item" style="margin-top: 1%;">
                <div>
                    <button class="btn btn-sm btn-danger" ng-click="stopAgent(aid)">Stop</button>
                </div>
            </li>
          </div>
          <div class="col-sm-3 hvr-grow" ng-if="($index + 3 < agentCollections.runningAgents.length)">
            <div class="thumbnail">
                <div class="caption" ng-click="turn = !turn">
                    <h3>Agent name: </h3>
                    <label>{{ agentCollections.runningAgents[$index + 3].name }}</label>
                    <hr>
                    <h4>Agent type: </h4>
                    <span>{{ agentCollections.runningAgents[$index + 3].type.name }}</span>
                    <hr>
                    <h4>Agent center:</h4>
                    <span>{{ agentCollections.runningAgents[$index + 3].host.alias }}</span>
                </div>
            </div>
            <li ng-if="turn" class="list-group-item" style="margin-top: 1%;">
                <div>
                    <button class="btn btn-sm btn-danger" ng-click="stopAgent(aid)">Stop</button>
                </div>
            </li>
          </div>
		</div>
	</div>
	
	<div id="bottomDiv">
	   <h3 id="operationTitle">Operations</h3>
	   <br>
        <div id="operations">
            <button id="typesButton" class="btn btn-sm btn-info" ng-click="getTypes()">Agent types</button>
            <input type="radio" ng-click="setRest()" name="comm" value="Rest"/>
            <i class="fa fa-level-up fa-2x" area-hidden="true" data-toggle="tooltip" title="Rest"></i>
            <input type="radio" ng-click="setSocket()" name="comm" value="Websocket"/>
            <i class="fa fa-exchange fa-2x" area-hidden="true" data-toggle="tooltip" title="Websockets"></i>
            <button id="runningButton" class="btn btn-sm btn-info" ng-click="getRunning()">Running Agents</button>            
        </div>
        <div id="message">
            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#messageModal" ng-click=fillModal()>Send message</button>
        </div>
        <div id="console" ng-show = "action.valueSocket">
            
        </div>
    </div>
	
	
<!-- MODAL -->	
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send ALC message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form>
   			<div class="form-group">
   				<label>Performative:</label>
				<select class="form-control" ng-model="ACLMessage.performative" ng-options="perform for perform in modalPerformative">
				</select>
			</div>
   			<div class="form-group">
   				<label>Sender:</label>
				<select class="form-control" ng-model="ACLMessage.sender" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
   			<div class="form-group">
   				<label>Recievers:</label>
				<select multiple class="form-control" ng-model="ACLMessage.recievers" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
   			<div class="form-group">
   				<label>Reply to:</label>
				<select class="form-control" ng-model="ACLMessage.replyTo" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
			<div class="form-group">
				<label>Content:</label>
				<input type="text" ng-model="ACLMessage.content"/>
			</div>
			<div class="form-group">
				<label>Language:</label>
				<input type="text" ng-model="ACLMessage.language" />
			</div>
			<div class="form-group">
				<label>Encoding:</label>
				<input type="text" ng-model="ACLMessage.encoding" />
			</div>
			<div class="form-group">
				<label>Protocol:</label>
				<input type="text" ng-model="ACLMessage.protocol" />
			</div>
			<div class="form-group">
				<label>Ontology:</label>
				<input type="text" ng-model="ACLMessage.ontology" />
			</div>
			<div class="form-group">
				<label>Reply With:</label>
				<input type="text" ng-model="ACLMessage.replyWith" />
			</div>
			<div class="form-group">
				<label>In reply to:</label>
				<input type="text" ng-model="ACLMessage.inReplyTo" />
			</div>
      	</form>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
</div>