<div ng-controller="agentController">
	<div id="topDiv">
		<h3 id="agentTypes">Agent types</h3>
		<hr>
		<div class="row" ng-repeat="type in agentCollections.agentTypes" ng-if="$index % 4 == 0">
			  <div class="col-sm-3 hvr-grow" ng-if="($index < agentCollections.agentTypes.length)">
				<div class="thumbnail">
			  		<div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index].module }}</span>
                        <hr>
			  		</div>
			  		<li ng-if="show" class="list-group-item" style="margin-top:1%;">
			  			<div>
			  				<input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index].module, agentCollections.agentTypes[$index].name)">Start</button>
			  			</div>
			  		</li>
				</div>
			  </div>
			   <div class="col-sm-3 hvr-grow" ng-if="($index + 1 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 1].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 1].module }}</span>
                        <hr>
                    </div>
                    <li ng-if="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index+1].module, agentCollections.agentTypes[$index+1].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
               <div class="col-sm-3 hvr-grow" ng-if="($index + 2 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" data-toggle="popover" data-content="I am popover">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 2].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 2].module }}</span>
                        <hr>
                    </div>
                    <li ng-show="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index + 2].module, agentCollections.agentTypes[$index + 2].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
               <div class="col-sm-3 hvr-grow" ng-if="($index + 3 < agentCollections.agentTypes.length)">
                <div class="thumbnail">
                    <div class="caption" ng-click="show = !show">
                        <h4>Name: </h4>
                        <span>{{ agentCollections.agentTypes[$index + 3].name }}</span>
                        <hr>
                        <h6>Module: </h6>
                        <span>{{ agentCollections.agentTypes[$index + 3].module }}</span>
                        <hr>
                    </div>
                    <li ng-if="show" class="list-group-item" style="margin-top:1%;">
                        <div>
                            <input type="text" ng-model="agentInfo.name"/> <button class="btn btn-sm btn-primary" ng-click="startAgent(agentCollections.agentTypes[$index+3].module, agentCollections.agentTypes[$index+3].name)">Start</button>
                        </div>
                    </li>
                </div>
              </div>
		  </div>

		<button class="btn btn-sm btn-info" ng-click="getTypes()" style="margin-left: 7%;">Refresh</button>
	</div>
	<div style="position:relative; width: 100%; background-color: white; border-bottom: 0.5px solid #6B0000; border-top: 0.5px solid #6B0000">
		<div style="width: 100%; position:absolute;">
			<h6 style="margin: 5.5%;float:left;">Actions via: </h6>
			<div class="checkbox" style="float:left;margin:5%;">
				<label><input type="checkbox" ng-model="action.valueREST" value=""/>REST</label>
			</div>
			<div class="checkbox" style="margin: 5%;float:left;">
				<label><input type="checkbox" ng-model="action.valueSocket" value=""/>Websockets</label>
			</div>
		</div>
		<div style="position:absolute;top:20%; margin-left:2%;">
			<button class="btn btn-sm btn-info" ng-click="showChat()">{{ Console.buttonChat }}</button>	
		</div>
		<div style="position:absolute; top:20%; margin-left:30%;">
			<button class="btn btn-sm btn-info" data-toggle="modal" data-target="#messageModal" ng-click=fillModal()>Send message</button>
		</div>
		<h6 ng-show = "Console.show" style="position: absolute; bottom: 35%;text-align: center; width: 100%;">Follow communication between agents:</h6>
		<div ng-show = "Console.show" style="position:absolute; overflow-y: auto; bottom: 0; height: 30%; width:95%; margin: 3%; border: 0.7px solid; border-radius: 5px;">
			
		</div>
	</div>
	<div style="width: 100%;overflow-y: auto; background-color: white;border: 0.5px solid #6B0000">
		<h6 style="text-align: center; margin-top:15%;">Active agents</h6>
		<hr>
		<ul class="list-group" style="padding-top: 15%;padding-right: 10%; padding-left: 10%;" ng-repeat="aid in agentCollections.runningAgents">
			<li class="list-group-item" ng-click="turn = !turn">
				<label>Agent name: </label><label>{{ aid.name }}</label>
				<label>Agent type: </label><label>{{ aid.type.name }}</label>
				<label>Agent center:</label><label>{{ aid.host.alias }}</label>
			</li>
			<li ng-if="turn" class="list-group-item" style="margin-top: 1%;">
				<div>
					<button class="btn btn-sm btn-danger" ng-click="stopAgent(aid)">Stop</button>
				</div>
			</li>
		</ul>
		<hr>
		<button class="btn btn-sm btn-info" ng-click="getRunning()" style="float: right;margin-right: 7%;">Refresh</button>
	</div>
	
	
<!-- MODAL -->	
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send ALC message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<form>
   			<div class="form-group">
   				<label>Performative:</label>
				<select class="form-control" ng-model="ACLMessage.performative" ng-options="perform for perform in modalPerformative">
				</select>
			</div>
   			<div class="form-group">
   				<label>Sender:</label>
				<select class="form-control" ng-model="ACLMessage.sender" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
   			<div class="form-group">
   				<label>Recievers:</label>
				<select multiple class="form-control" ng-model="ACLMessage.recievers" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
   			<div class="form-group">
   				<label>Reply to:</label>
				<select class="form-control" ng-model="ACLMessage.replyTo" ng-options="aid.name for aid in modalRunningAgents">
				</select>
			</div>
			<div class="form-group">
				<label>Content:</label>
				<input type="text" ng-model="ACLMessage.content"/>
			</div>
			<div class="form-group">
				<label>Language:</label>
				<input type="text" ng-model="ACLMessage.language" />
			</div>
			<div class="form-group">
				<label>Encoding:</label>
				<input type="text" ng-model="ACLMessage.encoding" />
			</div>
			<div class="form-group">
				<label>Protocol:</label>
				<input type="text" ng-model="ACLMessage.protocol" />
			</div>
			<div class="form-group">
				<label>Ontology:</label>
				<input type="text" ng-model="ACLMessage.ontology" />
			</div>
			<div class="form-group">
				<label>Reply With:</label>
				<input type="text" ng-model="ACLMessage.replyWith" />
			</div>
			<div class="form-group">
				<label>In reply to:</label>
				<input type="text" ng-model="ACLMessage.inReplyTo" />
			</div>
      	</form>	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
</div>